
<div class="container-fluid">

        <section class="banner banner-style2 mask-overlay pt-120 white-clr">
                    <div class="pad-50 hidden-xs"></div>
                    <div class="container theme-container rel-div">
                        <img class="pt-10 effect animated fadeInLeft" alt="" src="../assets/img/icons/icon-1.png" />
                        <ul class="list-items fw-600 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">   
                            <li><a href="#">fast</a></li>
                            <li><a href="#">secured</a></li>
                            <li><a href="#">worldwide</a></li>
                        </ul>
                        <h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> awesome place for <br> <span class="theme-clr"> courier </span> & <span class="theme-clr"> delivery </span> services </h2>
                        <div class="pad-30"></div>
                        <div class="col-md-8 col-md-offset-2 tracking-form text-left effect animated fadeInUp">     
                            <h2 class="title-1"> track your product </h2> <span class="font2-light fs-12">Now you can track your product easily</span>
                            <div class="row">
                                <form class="">
                                    <div class="col-md-7 col-sm-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control box-shadow" required="" placeholder="Enter your product ID">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div class="form-group">
                                            <button class="btn-1">track your product</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="pad-10"></div>
                        </div>
                    </div>                    
                </section>
         

  </div>
